.<div class="jumbotron">
    <h1 class="display-3">Something about me</h1>
    <p class="lead">I am a Ruby on Rails developper</p>

    <p class="lead">

        <%= link_to "home", root_path, class: "btn btn-primary btn-lg"%>

    </p>
</div>

<h1></h1>
<p></p>
